<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.site.p0823.mapper.MypageMapper">

   <!-- 일반 문의내역 불러오기 -->
   <select id="selectUserInquiryList"
      resultType="com.site.p0823.Vo.user_InquiryVo">
      select * from
      user_inquiry
      order by ud_bgroup desc,ud_bstep
      asc
   </select>
   <!-- 시공 문의내역 불러오기 -->
   <select id="selectInquiryList"
      resultType="com.site.p0823.Vo.Construction_InquiryVo">
      select * from
      Construction_Inquiry
      order by cd_bgroup
      desc,cd_bstep asc
   </select>


   <!-- 댓글 불러오기 -->
   <select id="setletEventMylist"
      resultType="com.site.p0823.Vo.EventVo">
      select * from event_comments
      where user_nickname =
      #{nickname}
      order by event_no desc
   </select>
   <!-- 이미지 불러오기 -->

   <select id="selectUserMainImgGet"
      resultType="com.site.p0823.Vo.UserVo">
      select * from user_info i, user_Main m
      where i.user_id =
      m.user_id
      and i.user_nickname = #{nickname}
   </select>



   <!-- 중복 없을경우 장바구니 넣기 -->
   <insert id="insertCartGo">
      INSERT INTO user_Cart
      (user_id,
      product_number,
      product_num,
      product_name,
      product_price)
      VALUES
      (#{arg1},
      #{param1.product_Number},
      #{arg2},
      #{param1.product_Name},
      #{param1.product_Price})
   </insert>

   <!-- 중복있을시 장바구니 숫자 추가 -->
   <update id="updateCartGo">
      update user_cart
      set product_num = product_num +
      #{arg2}
      where user_id = #{arg1}
   </update>

   <!-- 조인 이용 장바구니 출력 -->
   <select id="selectMyCartList"
      resultType="com.site.p0823.Vo.UserCartVo">
      select * from product_store p, user_cart c
      WHERE
      p.product_number = C.product_number
      and user_id = #{product_Number}
   </select>

   <!-- 장바구니 선택한 제품 수량 변경 -->
   <update id="productCartUpdate">
      update user_cart set product_num = #{product_Num}
      where user_id = #{user_Id} and product_number = #{product_Number}
   </update>
   <!-- 장바구니 선택한 제품 삭제 -->
   <delete id="productCartDelete">
      delete from user_cart
      where user_id = #{user_Id} and
      product_number = #{product_Number}
   </delete>
   <!-- 구매시 장바구니 삭제 -->
   <delete id="deleteSelectIdAllBuy">
      delete from user_cart
      where user_id = #{s_id}
   </delete>



   <!-- 구매리스트 출력 -->
   <select id="selectDeliveryMyList"
      resultType="com.site.p0823.Vo.Delivery_StatusVo">
      select * from product_store p, delivery_status d
      where
      p.product_number = d.product_number
      and d.user_id = #{s_id}
      ORDER by
      delivery_date desc

   </select>


   <!-- 구매 리스트에 보여질 상품 사진과 이름 가지고오기 -->
   <select id="selectProductBuyList"
      resultType="com.site.p0823.Vo.ProductVo">
      select * from product_store
      where product_Number =
      #{product_Number}
   </select>
   <!-- 구매 리스트에서 배송 출발하기전에 삭제 -->
   <delete id="deleteBuyDeliverySet">
      delete Delivery_Status where user_id = #{Vo.user_Id} and
      product_count = #{Vo.product_Count} and product_number = #{Vo.product_Number}
   </delete>



   <!-- 마이페이지 사진넣기 -->
   <insert id="insertMainImgSet">
      INSERT INTO user_main
      (user_id,
      user_main)
      VALUES
      (#{userVo.user_id},
      #{userVo.user_Main})
   </insert>
   <update id="updateMainImgSet">
      UPDATE user_Main set
      user_main = #{userVo.user_Main}
      where user_id = #{userVo.user_id}
   </update>

   <!-- 이미지 있는지 확인하기 -->
   <select id="selectMyImgGet"
      resultType="com.site.p0823.Vo.UserVo">
      SELECT * FROM user_Main
      where
      user_id = #{userVo.user_id}
   </select>


</mapper>